.case {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xs);
}

.name {
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  color: var(--color-grey-700);
  line-height: 30px;
  text-transform: uppercase;
  margin-top: var(--spacing-xxs);
}

.title {
  font-family: Teko-Regular;
  font-size: 30px;
  color: var(--color-black-200);
  line-height: 32px;
  margin-top: var(--spacing-xxs);
}

.open-wrapper {
  margin-top: var(--spacing-xxs);
}

.open {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-blue-500); 
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.open img {
  margin-right: var(--spacing-xxs);
}

.case-cover {
  object-fit: cover;
}

@media (max-width: 700px) {
  .case {
    margin: 0;
  }
  
  .desktop-only {
    display: none;
  }
}
