.hero {
  margin: var(--spacing-xs);
  margin-bottom: 0;
  background: url("/images/header.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  font-family: Teko-Regular;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: space-between;
}

.nav {
  border-bottom: 1px var(--color-black-100) solid;
  margin-top: var(--spacing-s);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}

.callout {
  font-size: 24rem;
  font-family: Teko-Regular;
  text-transform: uppercase;
}

.nav-items {
  margin-bottom: -10px;
  cursor: pointer;
}

.menu-label {
  text-transform: uppercase;
  margin-right: var(--spacing-xs);
}

.CTA-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-xs);
}

.CTA {
  border: none;
  background-color: var(--color-black-100);
  color: #fff;
  font-family: "arial";
  font-weight: bold;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
}

.mobile-hero {
  display: none;
}

@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .nav {
    border: none;
    margin-top: 0;
    padding: var(--spacing-xs);
  }

  .nav-items {
    margin-bottom: 0;
  }

  .container .callout {
    background: url("/images/header.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    padding-left: var(--spacing-s);
  }

  .hero {
    background: none;
    margin: 0;
  }
  
  .callout {
    font-size: 20rem;
  }

  .CTA {
    width: 100%;
    margin: var(--spacing-s);
  }
}

@media (max-width: 650px) {
  .callout {
    font-size: 16rem;
  }
}

@media (max-width: 550px) {
  .callout {
    font-size: 12rem;
  }
}

@media (max-width: 450px) {
  .callout {
    font-size: 6rem;
  }
}
