.footer {
  display: grid;
  grid-template-columns: 90% 10%;
  color: white;
}

.footer ul {
  list-style-type: none;
}

.info {
  display: grid;
  grid-template-columns: 5% 20% 1fr 20% 5%;
  grid-template-rows: 200px 5px 200px;
  background: var(--color-black-100);
  grid-template-areas: 
    ". logo links social ."
    ". border border border ."
    ". . legality copyright .";
}

.logo {
  grid-area: logo;
  align-self: flex-end;
  margin-bottom: 32px;
}

.logo path {
  fill: white;
}

.links {
  grid-area: links;
  display: flex;
  font-family: Teko-Light;
  font-size: 22px;
  color: #fff;
  text-align: left;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 200;
  align-self: flex-end;
}

.links li {
  margin-right: 1rem;
}

.links li a {
  cursor: pointer;
}

.social {
  grid-area: social;
  display: flex;
  align-self: flex-end;
  line-height: 32px;
  justify-self: flex-end;
  margin-bottom: 18px;
}

.social li {
  margin-left: 1rem;
}

.legality, .copyright {
  font-family: Arial;
  font-size: 13px;
  margin-top: var(--spacing-m);
  color: var(--color-grey-600);
}

.legality {
  grid-area: legality;
  display: flex;
  text-align: left;
}

.legality li {
  margin-right: 1rem;
}

.legality li:last-of-type {
  cursor: pointer;
}

.copyright {
  grid-area: copyright;
  justify-self: flex-end;
}

.footer-border {
  grid-area: border;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid grey;
}

.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue-500);
  font-family: Teko-Regular;
  font-size: 22px;
  text-align: center;
  line-height: 32px;
}

.scroll-top a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.scroll-top a img {
  width: 1.2rem;
}

@media (max-width: 800px) {
  /* Remove scroll top section & turn left part in block */
  .footer {
    display: block;
  }
  .scroll-top {
    display: none;
  } 
}

@media (max-width: 700px) {
  .footer {
    background-color: var(--color-black-100);
    width: 100%;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-l);
  }

  .info {
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "logo logo"
      "links social"
      "border border"
      "legality legality"
      "copyright copyright";
    width: 90%;
    margin: 0 auto;
  }

  .copyright {
    margin: 0;
    justify-self: initial;
  }

  .links, .legality {
    padding-left: 0;
  }

  .links {
    flex-direction: column;
    font-size: 32px;
    line-height: 32px;
  }

  .links li:not(:first-child) {
    margin-top: var(--spacing-xs);
  }

  .social {
    flex-direction: column;
    align-self: initial;
    padding-left: 0;
  }

  .social li {
    margin-left: 0;
  }

  .social a {
    display: block;
    padding: 0.5rem;
    margin-bottom: var(--spacing-xs);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
  }

  .social a img {
    height: 100%;
  }

  .legality {
    flex-direction: column;
    font-size: 13px;
    line-height: 21px;
    margin-top: var(--spacing-s);
  }
}
