:root {
  --spacing-xs: 20px;
  --spacing-s: 30px;
  --spacing-l: 80px;
  
  --color-black-100: #0E0E0E;
  --color-black-200: #272727;
  
  --color-grey-700: #939393;
  --color-grey-900: #DDDDDD;
  
  --color-blue-500: #1A18F7;
  --color-blue-900: #F3F6F6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
